allow recovery bluetooth_prop:file { getattr } ;
allow recovery bluetooth_prop:file { open } ;
allow recovery boottime_prop:file { getattr } ;
allow recovery boottime_prop:file { open } ;
allow recovery ctl_bootanim_prop:file { open } ;
allow recovery devpts:chr_file { getattr } ;
allow recovery devpts:chr_file { ioctl } ;
allow recovery devpts:chr_file { open } ;
allow recovery devpts:chr_file { read write } ;
allow recovery hwservicemanager_prop:property_service { set } ;
allow recovery init_exec:file { getattr } ;
allow recovery recovery:tcp_socket { bind } ;
allow recovery recovery:tcp_socket { create } ;
allow recovery recovery:tcp_socket { setopt } ;
allow recovery rootfs:file { write } ;
allow recovery seapp_contexts_file:file { getattr } ;
allow recovery selinuxfs:file { write } ;
allow recovery sepolicy_file:file { getattr } ;
allow recovery sysfs:file { getattr } ;
allow recovery sysfs:file { open } ;
allow recovery sysfs:file { read } ;
allow recovery sysfs:file { write } ;
allow recovery system_prop:property_service { set } ;
allow recovery tombstone_data_file:dir { getattr } ;
allow recovery vndservice_contexts_file:file { getattr } ;
